@CHARSET "ISO-8859-1";
body{
	background-size: 1400px 700px;
	font-family: "Segoe UI",Arial,sans-serif;
	Arial, sans-serif;
	color: #8bc34a;
	font-size: 17px;
	margin: 10px 375px;
	letter-spacing:1px;
	}
	
	ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	margin-left: 5%;
	}
	
	ul li{
	float: left;
	width: 200px;
	height: 40px;
	text-transform: uppercase;
	line-height: 40px;
	text-align: center;
	background-color: #5f5f5f;
	font-size: 20px;
	}	

	ul li:hover{
	color: #ffffff;
	background-color: #000000;
	}
		
	ul li a{

	height: 100%;
	font-size: 1.0em;
	margin: 0;
	border: 0;
	cursor: pointer;

	}
	
	
	ul li ul{
	margin-right:5%:
	}
	
	
		ul li ul li {		
	display : none;
	}
	
		
	ul li:hover ul li{
	display: block;
	margin: 0 -5%;
	}
	
	div{
	width: 300px;
	hight: 300px;
	background-color:white;
	}
